.wafixed {
     position: fixed;
    bottom: 20px; /* Atur jarak dari bawah sesuai keinginan */
    right: 20px; /* Atur jarak dari kanan sesuai keinginan */
    z-index: 10000; /* Pastikan z-index cukup tinggi agar tidak tertutupi oleh elemen lain */
}